.overview{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding:0;
    margin: 4rem 8rem;
    border-radius: 24px;
    flex-wrap: wrap;
}
.overview a{
    text-decoration: none;
    color: black;
    border-radius:5px;
    width:350px;
    padding: 2rem;
    background:white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (max-width: 1400px){
    .overview{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        padding:0;
        margin: 4rem 8rem;
        border-radius: 24px;
        flex-wrap: wrap;
    }
    .overview a{
        text-decoration: none;
        color: black;
        border-radius:5px;
        width:350px;
        padding: 2rem;
        background:white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

/*.overview a:nth-child(1){
    background:#93ccad;
}
.overview a:nth-child(2){
    background:#bab0ea;
}
.overview a:nth-child(3){
    background:#f7b28f;
}

.overview a:nth-child(4){
    background:#9cadd2;
}
.overview a:nth-child(5){
   background: #e96d7f;
}
.overview a:nth-child(6){
    background: #ebb100;
 }*/


.overview a div{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    gap: 5px;
    align-items: center;
}
.overview a div div{
    display: flex;
    flex-direction: column;
    align-items: normal;
}
.overview a div i{
    font-size: 4rem;
}
.overview a div div span{
    font-size:14px;
    color:gray;
}
.overview a div div h5{
    font-size:25px;
    margin: 0;
}


/*Dashboard recent exam results */

.recentExam{
    margin:1rem 8rem;
    background: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.recentExam h3{
    border-bottom: 2px solid gray;
    
}
.recentExam .recentExamContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recentExam .recentExamContent .statsContainer{
    display: flex;
    flex-direction: column;
    width: auto;
}
.recentExam .recentExamContent .statsContainer{
    border-right: 2px solid gray;
}
.recentExam .recentExamContent .statsContainer .content{
    display: flex;
    flex-direction: column;
}
.recentExam .recentExamContent .statsContainer:last-child{
    border-right: none;
}


/*Page title section*/

.pageTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 8rem;
    align-items: center;
}
.pageTitleContainer div a{
    text-decoration: none;
    color:white;
    background:#e96d7f;
    padding:10px;
    border-radius:5px;

}

.pageTitleContainer div h2{
   margin:0;

}


/*Dashboard student table with active and offline students*/

.studentTable{
    margin:0 8rem;
}

.studentTable table{
    border-collapse:separate;
    border-spacing: 0 10px;
}
.studentTable table tbody tr{
    background:white;
}
.studentTable table tbody tr td{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
.studentTable table tbody tr td:first-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
th{
    font-weight: 550;
    color: gray;
}
td{
    font-weight: 550;
    vertical-align: middle;
}
.studentTable table tbody tr td:last-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
}
.studentTable table thead tr{
    border-style: none;
    border-color: #f1f1f3;
}
.studentTable table tbody tr td span{
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    width: 90px;
    justify-content: center;
}

td a.edit{
    text-decoration: none;
    color:#111965;
    border:1px solid lightgray;
    border-radius: 20px;
    padding: 5px 15px;
}

td a.delete{
    text-decoration: none;
    color:#e96d7f;
    border:1px solid lightgray;
    border-radius: 20px;
    padding: 5px 15px;
}

/*Filters for the students table*/

.filters{
    margin: 0rem 8rem 0 8rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.filters div input{
    padding: 5px;
    width: 00px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.filters div input::placeholder{
    color: lightgray;
}

.filters div select{
    padding: 5px;
    width: 130px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.filters div select::placeholder{
    color: lightgray;
}

.filters div button{
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #111965;
    color: white;
}



.activeExamsTable{
    margin:0 8rem;
}

.activeExamsTable table{
    border-collapse:separate;
    border-spacing: 0 10px;
}
.activeExamsTable table tbody tr{
    background:white;
}
.activeExamsTable table tbody tr td{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
.activeExamsTable table tbody tr td:first-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
th{
    font-weight: 550;
    color: gray;
}
td{
    font-weight: 550;
    vertical-align: middle;
}
.activeExamsTable table tbody tr td:last-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
}
.activeExamsTable table thead tr{
    border-style: none;
    border-color: #f1f1f3;
}
.activeExamsTable table tbody tr td span{
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    width: 90px;
    justify-content: center;
}


@media (max-width: 768px){
    
    .pageTitleContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5rem 1rem;
        align-items: center;
    }
    .overview{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        padding:0;
        margin: 4rem 1rem;
        border-radius: 24px;
        flex-wrap: wrap;
    }
    .overview a{
        text-decoration: none;
        color: black;
        border-radius:5px;
        width:350px;
        padding: 2rem;
        background:white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

.studentExam {
    display: flex;
    margin: 1rem 8rem;
    gap: 10px;
    
}

.studentExam .studentExamResultsContainer {
    flex: 40%;
    width: auto;
    
}

.studentExam .startExamContainer {
    flex: 20%;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}
.studentExam .startExamContainer .studentExamSettings div {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 10px 0 15px 10px;
    

}

.studentExam .studentExamResultsContainer .chartHeading {
    font-family: "Rubik", sans-serif;
    color: #023047;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  }
  
  .studentExam .studentExamResultsContainer .studentStats .chartContainer {
    width: 200px;
    height: 200px;
  }
  
 .studentExam .studentExamResultsContainer .studentStats {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    width: fit-content;
    box-shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    padding: 8px 32px;
    color: #023047;
    transition: all 400ms ease;
   
  }
  
  
  
  .studentExam .studentExamResultsContainer .studentStats .details ul {
    list-style: none;
    padding: 0;
    
    
  }
  
  .studentExam .studentExamResultsContainer .studentStats .details ul li {
    font-size: 13px;
    margin: 12px 0;
    text-transform: uppercase;

  }
  
  .studentExam .studentExamResultsContainer .studentStats .details .percentage {
    font-weight: 700;
    color: #e63946;
  

  }

  .studentExam .studentTable {
    margin: auto;
    position: relative;
  }

 

.studentExam .studentTable table{
    border-collapse:separate;
    border-spacing: 0 10px;
}
.studentExam .studentTable table tbody tr{
    background:white;
}
.studentExam .studentTable table tbody tr td{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
.studentExam .studentTable table tbody tr td:first-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
th{
    font-weight: 550;
    color: gray;
    
}
td{
    font-weight: 550;
    vertical-align: middle;
}
.studentExam .studentTable table tbody tr td:last-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
}
.studentExam .studentTable table thead tr{
    border-style: none;
    border-color: #f1f1f3;
}
.studentExam .studentTable table tbody tr td span{
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    width: 90px;
    justify-content: center;
}

.studentExam .studentTable .filters {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    transform: translate(-1%, 0);
    margin: 0;
    padding: 0;
    width: fit-content;
}


  

