.examOverview{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding:0;
    margin: 4rem 8rem;
    border-radius: 5px;
    flex-wrap: wrap;
    background: white;
    padding: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.examOverview a{
    text-decoration: none;
    color: black;
    border-radius:5px;
    width:350px;
    padding: 2rem;
    background:white;
    border: 1px solid lightgray;
}
.examOverview .examResults {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.examOverview .examResults div h3{
    margin:0;
} 
.examOverview .examName select{
    padding: 5px;
    width: 180px;
    border-radius: 5px;
    border:1px solid lightgray;
    outline: none;
}


.examOverview .examCards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding:0;
    border-radius: 24px;
    flex-wrap: wrap;
    background: white;
}
.examOverview .examCards a{
    text-decoration: none;
    color: black;
    border-radius:5px;
    width:350px;
    padding: 2rem;
    background:white;
    border: 1px solid lightgray;
}


/*Student Result Table */

.studentResultTable{
    margin:0 8rem;
}

.studentResultTable table{
    border-collapse:separate;
    border-spacing: 0 10px;
}
.studentResultTable table tbody tr{
    background:white;
}
.studentResultTable table tbody tr td{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
.studentResultTable table tbody tr td:first-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
th{
    font-weight: 550;
    color: gray;
}
td{
    font-weight: 550;
}
.studentResultTable table tbody tr td:last-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
}
.studentResultTable table thead tr{
    border-style: none;
    border-color: #f1f1f3;
}
.studentResultTable table tbody tr td span{
    padding: 5px 15px;
    border-radius: 20px;
}

.filters{
    margin: 0 8rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.filters div input{
    padding: 5px;
    width: 300px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.filters div input::placeholder{
    color: lightgray;
}

.filters div select{
    padding: 5px;
    width: 200px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.filters div select::placeholder{
    color: lightgray;
}

.filters div button{
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #111965;
    color: white;
}

@media screen and (max-width: 960px){
    .examOverview a{
        text-decoration: none;
        color: black;
        border-radius:5px;
        width:300px;
        padding: 2rem;
        background:white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}
@media screen and (max-width: 768px){
    .examOverview a{
        text-decoration: none;
        color: black;
        border-radius:5px;
        width:250px;
        padding: 2rem;
        background:white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

.examOverview a div{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    gap: 5px;
    align-items: center;
}
.examOverview a div div{
    display: flex;
    flex-direction: column;
    align-items: normal;
}
.examOverview a div i{
    font-size: 4rem;
}
.examOverview a div div span{
    font-size:14px;
    color:gray;
}
.examOverview a div div h5{
    font-size:25px;
    margin: 0;
}