.container {
    display: flex;
    margin: 2rem;
    background-color: #f1f1f3;
}

.exam-title {
    flex: 2;
    padding: 20px;
    background-color: #f1f1f3;
    /* border-right: 1px solid #ccc; */
}

.exam-title .title input[type="text"] {
    width: 300px;
    font-size: 30px;
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    background: #f1f1f3;
}

.exam-title label {
    display: block;
    margin-bottom: 10px;
}

.container .exam-title .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.exam-title .title select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px 0;
    outline: none;
}

.exam-title button {
    background-color: #e96d7f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.exam-title button:hover {
    background-color: #eb7c8c;
}

#add-question-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    display: none;
    width: 70%;
    max-width: 700px;
}

.close-btn {
    display: flex;
    justify-content: end;
    cursor: pointer;
}

#add-question-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-row div {
    display: flex;
    margin-bottom: 10px;
}

.form-row input[type="number"] {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.form-row label {
    margin: 5px;
}

.save-button {
    display: flex;
    justify-content: end;
}

#add-question-form button {
    padding: 5px 35px;
    background-color: #e96d7f;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#add-question-form button:hover {
    background-color: #eb7c8c;
}

.exam-settings {
    flex: 1;
    padding: 20px;
    background-color: #f1f1f3;
}

.exam-settings label {
    display: block;
    margin-bottom: 10px;
}

.exam-settings input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

.exam-settings button {
    background-color: #e96d7f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.exam-settings button:hover {
    background-color: #eb7c8c;
}

.question-table {
    display: none;
}

.question-table {
    margin: 20px 0;
}

.question-table table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.question-table table tbody tr {
    background: white;
}

.question-table table tbody tr td {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.question-table table tbody tr td:first-child {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}

th {
    font-weight: 550;
    color: gray;
    padding: 8px;
}

td {
    font-weight: 550;
    padding: 8px;
}

.question-table table tbody tr td:last-child {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
}

.question-table table thead tr {
    border-style: none;
    border-color: #f1f1f3;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .exam-title,
    .exam-settings {
        width: 100%;
    }
}