* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
}

header {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.login {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.login:hover {
  background-color: #0062cc;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 20px;
  max-width: 100%;
  margin: 0;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: next;
  align-items: flex-start;
  margin-bottom: 40px;
}

.user-details {
  margin-left: 40px;
}

.user-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-details p {
  font-size: 16px;
  margin-bottom: 20px;
}

.edit-profile {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-profile:hover,
.view-exam-history:hover {
  background-color: #0062cc;
}
.Position {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 120px;
  padding-bottom: 6px;
  border-bottom: solid 1px darkgray;
}

.overview,
.change-password {
  border: none;
  border-radius: 5px;
  background: none;
  padding: 5px 20px 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Position button:not(:last-child) {
  margin-right: 15px;
}
.overview:hover,
.change-password:hover {
  background-color: #eb7c8c;
  color: white;
}
.overview.active {
  background-color: #eb7c8c;
  color: white;
}
.change-password.active {
  background-color: #eb7c8c;
  color: white;
}
.exam-history {
  width: 50%;
  position: absolute;
  top: calc(40% + 30px);
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.exam-history h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.exam-history table {
  width: 100%;
  border-collapse: collapse;
}

.exam-history th,
.exam-history td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
}

.exam-history th {
  font-weight: bold;
}

.exam-history a {
  color: #007bff;
  text-decoration: none;
}

.exam-history a:hover {
  color: #0062cc;
}

footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  font-size: 14px;
}

.social-media a {
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}

.social-media a:hover {
  color: #007bff;
}

footer .contact-info {
  text-align: right;
}

footer .contact-info p {
  margin-bottom: 5px;
  font-size: 14px;
}
.EditProfile {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 250px;
  transform: translateX(17%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
}
.EditProfile .SocialAcc .SocialLink .Social {
  width: 198px;
  transform: translateX(6%);
}
.SocialAcc label {
  margin-bottom: 5px;
}
.EditProfile .SocialAcc .SocialLink {
  margin-bottom: 10px;
}
.EditProfile i {
  font-size: 20px;
}
.EditProfile input:nth-of-type(3) {
  padding: 0 50px 50px 0;
}
.EditProfile input::placeholder {
  font-size: 13px;
  padding-left: 3px;
}
