
/*subject Table */

.subjectTable{
    margin:0 8rem;
}

.subjectTable table{
    border-collapse:separate;
    border-spacing: 0 10px;
}
.subjectTable table tbody tr{
    background:white;
}
.subjectTable table tbody tr td{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
.subjectTable table tbody tr td:first-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
th{
    font-weight: 550;
    color: gray;
}
td{
    font-weight: 550;
}
.subjectTable table tbody tr td:last-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
}
.subjectTable table thead tr{
    border-style: none;
    border-color: #f1f1f3;
}
.subjectTable table tbody tr td span{
    padding: 5px 15px;
    border-radius: 20px;
}

.filters{
   
    margin: 0 8rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.filters div input{
    
    padding: 5px;
    width: 300px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.filters div input::placeholder{
    color: lightgray;
}

.filters div select{
    padding: 5px;
    width: 200px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.filters div select::placeholder{
    color: lightgray;
}

.filters div button{
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #111965;
    color: white;
}

@media screen and (max-width: 960px){
    .subjectOverview a{
        text-decoration: none;
        color: black;
        border-radius:5px;
        width:300px;
        padding: 2rem;
        background:white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}
@media screen and (max-width: 768px){
    .subjectOverview a{
        text-decoration: none;
        color: black;
        border-radius:5px;
        width:250px;
        padding: 2rem;
        background:white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

.pageTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 8rem;
    align-items: center;
}

#openFormButton {
    background-color:#e96d7f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }

  #openFormButton:hover {
    background-color: #e96d7f;
  }

 
  

 













