
/*subject Table */

.subjectTable{
    margin:0 8rem;
}

.subjectTable table{
    border-collapse:separate;
    border-spacing: 0 10px;
}
.subjectTable table tbody tr{
    background:white;
}
.subjectTable table tbody tr td{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
.subjectTable table tbody tr td:first-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
th{
    font-weight: 550;
    color: gray;
}
td{
    font-weight: 550;
}
.subjectTable table tbody tr td:last-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
}
.subjectTable table thead tr{
    border-style: none;
    border-color: #f1f1f3;
}
.subjectTable table tbody tr td span{
    padding: 5px 15px;
    border-radius: 20px;
}

.filters{
   
    margin: 0 8rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.filters div input{
    
    padding: 5px;
    width: 300px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.filters div input::placeholder{
    color: lightgray;
}

.filters div select{
    padding: 5px;
    width: 200px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.filters div select::placeholder{
    color: lightgray;
}

.filters div button{
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #111965;
    color: white;
}



.pageTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 8rem;
    align-items: center;
}

#openFormButton {
    background-color:#e96d7f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }

  #openFormButton:hover {
    background-color: #e96d7f;
    
  }
  #addNewSubjectContainer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 4rem 8rem;
  }


  #addNewSubjectContainer form{
    display: flex;
    gap: 5px;
    padding: 10px;
}

#addNewSubjectContainer form input{
    padding: 10px;
    font-size: 16px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}
#addNewSubjectContainer form input::placeholder{
    color:lightgray;
}

#addNewSubjectContainer form button{
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    color: white;
    background-color: #e96d7f;
    border:none;
}
#addNewSubjectContainer form button:hover{
    background-color: #eb7c8c;
}
#edit-subject-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    display: none;
    width: 300px;
    max-width: 700px;
}



#edit-subject-form input[type="text"] {
    width:100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
}




.save-button {
    display: flex;
    justify-content: end;
}

#edit-subject-form button {
    padding: 10px 35px;
    background-color: #e96d7f;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#edit-subject-form button:hover {
    background-color: #eb7c8c;
}
.close-btn {
    display: flex;
    justify-content: end;
    cursor: pointer;
}
#editSubjectButton{
    text-decoration: none;
    color:#111965;
    border:1px solid lightgray;
    border-radius: 20px;
    padding: 5px 15px;
}

 













