* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    margin-right: 10px;
  }
  
  .login {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .login:hover {
    background-color: #0062cc;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 4rem 8rem;
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    justify-content: next;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  
  .user-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .user-details p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .edit-profile {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .edit-profile:hover,
  .view-exam-history:hover {
    background-color: #0062cc;
  }
  .Position {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 6px;
    border-bottom: solid 1px darkgray;
  }
  
  .overview,
  .change-password {
    border: none;
    background: none;
    padding: 5px 20px;
  }
  .Position button:not(:last-child) {
    margin-right: 15px;
  }
  .overview:hover,
  .change-password:hover {
    border-bottom: 3px solid #eb7c8c;
    color: black;
  }
  .overview.active {
    border-bottom: 3px solid #eb7c8c;
    color: black;
  }
  .change-password.active {
    border-bottom: 3px solid #eb7c8c;
    color: black;
  }
  .exam-history {
    display: flex;
    flex-direction: column;
  }
  
  .exam-history h2 {
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 20px;
  }
  
  .exam-history table{
    border-collapse:separate;
    border-spacing: 0 10px;
    width: 100%;
  }
  .exam-history table tbody tr{
    background:white;
  }
  .exam-history table tbody tr td{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    padding:0.5rem;
  }
  .exam-history table tbody tr td:first-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
  }
  th{
    font-weight: 550;
    color: gray;
  }
  td{
    font-weight: 550;
    vertical-align: middle;
  }
  .exam-history table tbody tr td:last-child{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
  }
  .exam-history table thead tr{
    border-style: none;
    border-color: #f1f1f3;
  }
  .exam-history table tbody tr td span{
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    width: 90px;
    justify-content: center;
  } 
  
  .exam-history a {
    color: #007bff;
    text-decoration: none;
  }
  
  .exam-history a:hover {
    color: #0062cc;
  }
  
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  footer p {
    font-size: 14px;
  }
  
  .social-media a {
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .social-media a:hover {
    color: #007bff;
  }
  
  footer .contact-info {
    text-align: right;
  }
  
  footer .contact-info p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .EditProfile {
    display: none;
    flex-direction: column;
    width: 350px;
    margin-top: 15px;
    border-radius: 5px;
  }
  .EditProfile .SocialAcc .SocialLink .Social {
    width: 198px;
    transform: translateX(6%);
  }
  .SocialAcc label {
    margin-bottom: 5px;
  }
  .EditProfile .SocialAcc .SocialLink {
    margin-bottom: 10px;
  }
  .EditProfile i {
    font-size: 20px;
  }
  .EditProfile input{
   margin:5px 0;
  }
  .EditProfile input::placeholder {
    font-size: 13px;
    padding-left: 3px;
  }
  .EditProfile button {
    margin-top: 10px;
    width: 100%;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #eb7c8c;
  color:white;
  border:none;  
  }
  